body {
    background-color: #eee;
}

/* ul li {
    list-style-type: circle;
    list-style-type: square;
    list-style-type: upper-roman;
    list-style-type: lower-alpha;
} */

ul {
    list-style-type: none;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    /* padding: 15px; */
    padding-left: 0px;
}

li {
    border-bottom: solid 1px #ddd;
    padding: 15px;
}